/* FAVOURITES SCREEN CSS */
#FavouriteBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#FavouritesArtistHeading {
    font-size: medium;
    margin: 2%;
}

#FavouriteList {
    list-style-type: none;
    padding: 0;
}

.FavouriteListTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 6%;
    padding: 1% 0px;
    border-bottom: #221F1F solid 1px;
}

.FavouriteListTile:hover {
    cursor: pointer;
}


.FavouriteListTile p {
    font-size: medium;
    margin: 0;
    flex-grow: 1;
}



.fa-heart {
    font-size: large;
    margin-left: 10px;
}

.fa-heart:hover {
    cursor: pointer;
}